%p#notice= notice

%p
  %b Name:
  = @panel.name
%p
  %b Description:
  = @panel.description
%p
  %b Rules:
  = @panel.rules
%p
  %b Moderator:
  = @panel.moderator

.row
  .ask_a_question.col-xs
    This is where you ask a new question
    = form_for @question do |f|
      .form-inline
        - if @question.errors.any?
          #error_explanation
            %h2= "#{pluralize(@question.errors.count, "error")} prohibited this question from being saved:"
            %ul
              - @question.errors.full_messages.each do |msg|
                %li= msg
        .field
          = f.label :question
          = f.text_area :question
        .actions
          = f.submit 'Save'

.row
  .pending_questions.col-xs
    List of questions PENDING
    = render @panel.questions
  .approved_questions.col-xs
    List of questions approved by the moderator
  

= link_to 'Edit', edit_panel_path(@panel)
\|
= link_to 'Back', panels_path


