
%header
  %nav
    %ul
      %li= link_to "Home", root_path
      %li= link_to "About", pages_about_path
      %li= link_to "Contact Us", pages_contact_path
      %li= link_to "Privacy", pages_privacy_path
      
    - if user_signed_in?

      %li
        = link_to("Logout #{current_user.email}", destroy_user_session_path, :method => :delete)
    - else
      %li
        = link_to('Login', new_user_session_path)
